.first-color {
    background: #233142;
}

.second-color {
    background: #455d7a;
}

.third-color {
    background: #f95959;
}

.fourth-color {
    background: #e3e3e3;
}

body{
    background: #e3e3e3;
}
h1{
    color:#f95959;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    font-family: Roboto, sans-serif;
}
td{
    text-align: left;
}
th{
    background-color: #233142;
    color: #e3e3e3;
    text-align: left;
    text-transform: capitalize;
}

th, td{
    padding: 6px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: coral;
}




